<div class="post-wrapper col-12" [class.display-mode]="displayMode">
  <div class="post-body">
    <input class="col-12" placeholder="Enter text" [(ngModel)]="post.text">
  </div>
  <div class="post-tools" [hidden]="!displayMode" (click)="editPost()">
    <i class="fas fa-pencil-alt"></i>
  </div>
  <div class="post-tools-open" [hidden]="displayMode">
    <div class="post-save" (click)="savePost()">
      <i class="far fa-check-circle"></i>
    </div>
    <div class="post-delete" (click)="deletePost()">
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
</div>

