<div class="modal-header">
  <h4 class="modal-title">New board</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="col" name="board_name" title="New Board Name" placeholder="New board name" [(ngModel)]="boardName">
      </div>
    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="createPost()">Create</button>
</div>
