<div class="container mt-5" [hidden]="!pageLoaded">
  <div class="row">
    <div class="col-12 center-text" (click)="openNewBoardModal()" [hidden]="boards.length">
      No boards! Create your first
    </div>

    <div class="col-12 center-text" [hidden]="!boards.length">
      <div class="col" *ngFor="let board of boards" (click)="selectBoard(board)">{{board.name}}</div>
      <div class="col" (click)="openNewBoardModal()"> + New board</div>
    </div>

    <div class="col-12 col-sm-4 col-md-3" [hidden]="!boards.length">
      <div class="card post_card post_new" (click)="openNewPostModal()">
        <p><i class="fas fa-plus"></i></p>
        <h5 class="card-title">Add a new post</h5>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3" [hidden]="!boards.length && !currentBoard?.posts" *ngFor="let post of currentBoard?.posts">
      <div class="card post_card">
        <h5 class="card-title">{{post.title}}</h5>
        <app-text-post *ngIf="post.post_type=='TextPost'" [text]="post.text"></app-text-post>
        <app-toggle-post *ngIf="post.post_type=='TogglePost'"></app-toggle-post>
      </div>
    </div>
  </div>
</div>
