.display-mode input,
.display-mode textarea{
  border: 0;
  pointer-events: none;
}

.post-wrapper{
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #e8e8e8;
}

.post-body {
  flex: 1 1 auto;
}

.post-tools{
  margin: 0 5px;
  flex: 0 1 auto;
  display: none;
  cursor: pointer;
}

.post-wrapper:hover .post-tools{
  display: block;
}

.post-tools-open{
  display: inline-flex;
}
.post-save,
.post-delete{
  margin: 3px 5px;
  cursor: pointer;
}
